<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/gobbahwelding/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/elisha-gobbah-0bbaab38/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by Nomsa
  </div>
</div>
